<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>PSUdo_MRI</display-name>
  <welcome-file-list>
    <welcome-file>Main.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
     <context-param>
  <param-name>log4jConfigLocation</param-name>
  <param-value>/WEB-INF/log4j.properties</param-value>
 </context-param> 
  <servlet>
    <description></description>
    <display-name>Convert</display-name>
    <servlet-name>Convert</servlet-name>
    <servlet-class>Convert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Convert</servlet-name>
    <url-pattern>/convert</url-pattern>
  </servlet-mapping>

 
</web-app>